@use "variables";


@keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes rotate2 {

    //För pilarna
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(180deg);
    }

    100% {
        transform: rotate(360deg);
    }
}


@keyframes move {
    0% {
        left: -100px;
        bottom: 50px;
    }

    25% {
        left: 100px;
        bottom: 50px;
    }

    50% {
        left: 0px;
        bottom: 50px;
    }

    75% {
        left: 0px;
        bottom: 0px;
    }

    100% {
        left: -100px;
        bottom: 50px;
    }
}



@keyframes moveshadow {
    0% {
        filter: drop-shadow(-14px 0 15px variables.$puff-background-dark); //Blur från vänster
    }


    50% {
        filter: drop-shadow(14px 0 15px variables.$puff-background-dark); //Blur från höger
    }

    100% {
        filter: drop-shadow(0 -15px 15px variables.$puff-background-dark); //Blur uppifrån
    }

}

@keyframes flip {

    //Spegelvändning av bananen
    0% {
        transform: rotateY(0deg);
    }

    50% {
        transform: rotateY(180deg);
    }

    100% {
        transform: rotateY(0deg);
    }
}

@keyframes color {

    //Främst för HR-linjen
    0% {
        background-color: black;
    }

    10% {
        background-color: blue;
    }

    20% {
        background-color: red;
    }

    30% {
        background-color: rgb(0, 255, 0);
    }

    40% {
        background-color: rgb(255, 0, 191);
    }

    50% {
        background-color: rgb(238, 255, 0);
    }

    60% {
        background-color: rgb(0, 183, 255);
    }

    70% {
        background-color: rgb(3, 102, 0);
    }

    80% {
        background-color: rgb(168, 101, 0);
    }

    90% {
        background-color: rgb(208, 255, 0);
    }

    100% {
        background-color: rgb(255, 255, 255);
    }

}

@keyframes pilupp {
    0% {
        transform: translateY(0);
    }

    50% {

        transform: translateX(100px);
    }

    100% {

        transform: translateY(0);
    }

}