@use "variables";


@keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes rotate2 {
    0% {
        transform: rotate(360deg);
    }

    50% {
        transform: rotate(360deg);
    }

    100% {
        transform: rotate(720deg);
    }
}


@keyframes move {
    0% {
        left: -200px;
        bottom: 100px;
    }
    25% {
        left: 200px;
        bottom: 100px;
    }
    50% {
        left: 0px;
        bottom: 100px;
    }
    100% {
        left: 0px;
        bottom: 0px;
    }
}

@keyframes moveshadow {
    0% {
filter: drop-shadow(-14px 0 15px variables.$puff-background-dark); //Blur från vänster
    }

 
50% {
filter: drop-shadow(14px 0 15px variables.$puff-background-dark); //Blur från höger
}
100% {
filter: drop-shadow(0 -15px 15px variables.$puff-background-dark); //Blur uppifrån
}

}

@keyframes flip {
    0% {
        transform: rotateY(0deg);
    }

    50% {
        transform: rotateY(180deg);
    }

    100% {
        transform: rotateY(0deg);
    }
}

@keyframes color {
    0% {
        background-color: black;
    }

    10% {
        background-color: blue;
    }

    20% {
        background-color: red;
    }
      30% {
        background-color: rgb(0, 255, 0);
    }

    40% {
        background-color: rgb(255, 0, 191);
    }

    50% {
        background-color: rgb(238, 255, 0);
    }
      60% {
        background-color: rgb(0, 183, 255);
    }

    70% {
        background-color: rgb(3, 102, 0);
    }

    80% {
        background-color: rgb(168, 101, 0);
    }
      90% {
        background-color: rgb(208, 255, 0);
    }

    100% {
        background-color: rgb(255, 255, 255);
    }

}

@keyframes pilupp {
    0% {
          bottom: 0px;
    }

    25% {
       
        bottom: 25px;
    }

    50% {
   
        bottom: 50px;
    }
    100% {
        bottom: 0px;
    }
}

@keyframes pilner {
    0% {
          top: 0px;
    }

    25% {
       
        top: 25px;
    }

    50% {
   
        top: 50px;
    }
    100% {
        top: 0px;
    }
}