@use "variables";

.puff {
    
    background-color: variables.$box-background-light;
    color: variables.$box-text-light;
    border-radius: 10px;
    border: 1px solid variables.$box-border-light;
    padding: 0.2rem 1rem 1rem 1rem;
    margin: 0 auto;
}

footer {
    background-color: variables.$background-first-color;
    padding: 0.2rem 1rem 1rem 1rem;
}

.flex-box {
  display: flex;
  width: 100%;
 margin-top: 20px;
 margin-bottom: 30px;
}

.btn {
  background-color: variables.$button-background-primary-light;
  margin: 0 auto;
  padding: 20px;
  font-size: 2rem;
}

.btn-sass {
    @extend .btn;
    background-color: variables.$button-background-primary-light;
}

.btn-meny {
    @extend .btn;
    background-color: variables.$button-background-secondary-light;
}

@mixin photo($size, $circle) {
    width: $size;
    height: $size;

    @if $circle {
        border-radius: 50%;
    } @else {
        border-radius: 10px;
    }
}

.photo-round {
    @include photo(200px, true);
}

.photo-square {
    @include photo(200px, false);
}

@media (max-width: 900px) {
    .flex-box {
        flex-direction: column;
        gap: 10px;
    }

    .btn {
        font-size: 1.5rem;
        padding: 10px;
        width: 100%;
        max-width: 600px;
    }
}

