@use "variables";

html,
body {
    height: 100%;
    line-height: 1.5;
    overflow-x: hidden;
}

body {
    font-family: variables.$font-stack;
    color: variables.$text-primary-color;
    margin: 0 auto;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-size: 1rem;
}

main {
    padding-top: 1px;
    background-color: variables.$background-light;
    color: variables.$text-color-light;
    flex: 1;
}

.container {
    max-width: 1200px;
    margin: 20px auto;
    padding: 1rem;
}

.arstider {
    display: grid; //Vill ha två bilder bredvid varandra
    grid-template-columns: repeat(2, 1fr);
    background-color: variables.$puff-background-light;
    border-radius: 20px;
    padding: 2rem;
}

.bild-span,
.bild-tomat {
    //För att texten hamnar under bilden
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    z-index: 0; //så att bilderna kan flyta ovanpå vid animering
}



.bild-span span,
.bild-tomat span {
    display: block;
    text-align: center;
    font-size: 2rem;
    padding: 10px;
    width: 100%;
}

.bild-span img,
.bild-tomat img {
    display: block;
    z-index: 2;
}

.tomater {
    display: grid; //Vill ha tre bilder bredvid varandra
    grid-template-columns: repeat(3, 1fr);
    overflow: visible;
    border-radius: 20px;
    padding: 1rem;
    position: relative;
}

.element-tester {
    display: grid; //Vill ha fem element bredvid varandra
    grid-template-columns: repeat(5, 1fr);
    overflow: visible;
    border-radius: 20px;
    padding: 1rem;
    position: relative;
}

.puff {
    background-color: variables.$box-background-light;
    color: variables.$box-text-light;
    border-radius: 10px;
    border: 1px solid variables.$box-border-light;
    padding: 0.2rem 1rem 1rem 1rem;
    margin: 0 auto;
}

footer {
    background-color: variables.$background-first-color;
    padding: 0.2rem 1rem 1rem 1rem;
}

.flex-box {
    //Där de 5 knapparna finns, för att testa @extend
    display: flex;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 30px;
}

.btn {
    background-color: variables.$button-background-primary-light;
    margin: 0 auto;
    padding: 20px;
    font-size: 2rem;
    border: 2px solid variables.$text-primary-color;
}

.btn-sass {
    @extend .btn;
    background-color: variables.$button-background-primary-light;
}

.btn-meny {
    @extend .btn;
    background-color: variables.$button-background-secondary-light;
}

.click-btn {
    text-align: center;
    cursor: pointer;
    font-size: 1.4rem;
    position: relative;
    background-color: variables.$background-first-color;
    border: none;
    color: variables.$text-primary-color;
    max-width: 200px;
    max-height: 100px;
    text-align: center;
    transition-duration: 1s;
    overflow: hidden;
    box-shadow: 0 5px 15px variables.$box-border-light;
    border-radius: 10px;
    transition: transform .2s ease, background-color, .2s ease, box-shadow .2s ease;
}



.click-btn:active {
    background: variables.$button-background-secondary-dark;
    color: variables.$text-secondary-color;
    display: block;
    transform: scale(0.8); //Lite mindre vid klick
}

hr {
    height: 5px;
    border: none;
    animation: color 10s infinite;
}

.higher {
    position: relative;
    z-index: 10; //Vill ha rubriken ovanpå bilderna
}

@mixin photo($size, $circle) {
    width: $size;
    height: $size;

    @if $circle {
        border-radius: 50%;
    }

    @else {
        border-radius: 10px;
    }
}

.photo-round {
    @include photo(200px, true);
}

.photo-square {
    @include photo(200px, false);
}

@media (max-width: 900px) {

    //Valde 900 eftersom det blev ett mellanläge mellan mobil enhet och datorskärm, blev snyggast såhär
    .flex-box {
        flex-direction: column; //Radas upp vertikalt
        gap: 10px;
    }

    .btn {
        font-size: 1.5rem;
        padding: 10px;
        width: 100%;
        max-width: 600px;
    }

    .click-btn:active {
        content: "";
        background: variables.$button-background-secondary-dark;
        color: variables.$text-secondary-color;
        display: block;
        border-radius: 0;
        transform: scale(1.5);
    }
}