
@use "variables";

header {
    background-color: variables.$background-first-color;
    width: 100%;
    top: 0;
    z-index: 1000;
}

.header-inner {
    width: 100%;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px 0 30px;
}

.site-logo {
    display: block;
    padding: 20px 0;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 0;
    padding: 0;
    margin: 0;

    li:not(:last-child) { //Strecken som s채rskiljer menyl채nkarna
        border-right: 1px solid variables.$text-primary-color;
    }

    li a {
        color: variables.$text-primary-color;
        text-decoration: none;
        font-size: 2rem;
        display: flex;
        align-items: center;
        gap: 15px;
        padding: 25px;

    }

    .active {
        color: variables.$text-primary-color;
        font-weight: bold;
        text-decoration: underline;
    }

    :hover {
        color: variables.$hover-light;
    }

    a {
        text-decoration: none;
        color: variables.$text-primary-color;
    }
}


.nav-links img {
    display: block;
    height: 80px;
    width: auto;
}

.hamburger {
    display: none;
    background-color: transparent;
    border: 0;
    font-size: 2rem;
}



@media (max-width: 1024px) {
    .hamburger {
        display: block;
        margin-left: auto;
    }

    .navbar {
        flex-wrap: wrap; //S책 att menyn kan hamna p책 en ny rad
        padding-right: 20px;
    }

    .nav-links {
        display: none;
        flex-direction: column;
        width: 100%;

        li {
            width: 100%;
            text-align: center;

            &:not(:last-child) {
                border-bottom: 1px solid variables.$text-primary-color;
                border-right: none;
            }

            a {
                justify-content: center;

            }
        }
    }

    .nav-links.active {
        display: flex;

    }

}