$font-stack: Arial, sans-serif;
$text-primary-color: black;
$text-secondary-color: white;
$background-first-color: #b38b64;


$background-dark: black;
$text-color-dark: white;
$background-light: white;
$text-color-light: black;

$box-background-dark: rgb(201, 199, 199);
$box-text-dark: black;
$box-background-light: rgb(216, 216, 216);
$box-text-light: black;
$box-border-dark:white;
$box-border-light: black;

$puff-background-dark: rgb(49, 49, 49);
$puff-background-light: rgb(197, 197, 197);

$button-background-primary-light: white;
$button-background-secondary-light: rgb(128, 199, 128);
$button-background-primary-dark: black;
$button-background-secondary-dark:rgb(0, 77, 0);

$hover-light: rgb(75, 75, 75);
$hover-dark: rgb(151, 151, 151);
