@use "components";
@use "nav";
@use "variables";
@use "animations";

html,
body {
    height: 100%;
    line-height: 1.5;
}

body {
    font-family: variables.$font-stack;
    color: variables.$text-primary-color;
    margin: 0 auto;
    min-height: 100vh;
     display: flex;
    flex-direction: column;
    font-size: 1rem;
}

main {
    padding-top: 1px;
    background-color: variables.$background-light;
    color: variables.$text-color-light;
   flex: 1;
}

.container {
    max-width: 1200px;
    margin: 20px auto;
    padding: 1rem;
}

.arstider {
    display: grid; //Vill ha två bilder bredvid varandra
  grid-template-columns: repeat(2, 1fr);
background-color: variables.$puff-background-light;
border-radius: 20px;
padding: 2rem;
}
.tomater {
    display: grid; //Vill ha tre bilder bredvid varandra
  grid-template-columns: repeat(3, 1fr);
overflow: visible;
border-radius: 20px;
padding: 1rem;

position: relative;
}

nav a:visited {
        color: variables.$text-primary-color;
    }

    .smiley img {
        width: 100px;
    }

@media (prefers-color-scheme: dark) { //Mörkt läge
    main {
        background: variables.$background-dark;
        color: variables.$text-color-dark;
    }

    .puff {
        background-color: variables.$box-background-dark;
        color: variables.$box-text-dark;
        border: 1px solid variables.$box-border-dark;
    }

    
    .navbar, footer {
        background-color: variables.$text-secondary-color;
    }

    .smiley img {
        background-color: variables.$box-background-dark;
    }

    .arstider {
        background-color: variables.$puff-background-dark;
        border: 1px solid variables.$box-border-dark;
    }

    nav a:visited {
        color: variables.$text-primary-color;
    }
  

    a:visited {
        color: variables.$text-secondary-color;
    }

.btn, .btn-sass {
    background-color: variables.$button-background-primary-dark;
    color: variables.$text-secondary-color;
    border: 1px solid variables.$text-secondary-color;
}
  

.btn-meny {
    background-color: variables.$button-background-secondary-dark;
    color: variables.$text-secondary-color;
    border: 1px solid variables.$text-secondary-color;
}

.nav-links li a:hover {
    color: variables.$hover-dark;
}

}


.bild-span, .bild-tomat { //För att texten hamnar under bilden
  display: flex;
 flex-direction: column;
 align-items: center;
  border-radius: 20px;
  z-index: 0; //så att bilderna kan flyta ovanpå vid animering
}



.bild-span span, .bild-tomat span {
  display: block;
  text-align: center;
  font-size: 2rem;
  padding: 10px;
  width: 100%;
}

.bild-span img, .bild-tomat img {
  display: block;
    z-index: 2;
}

@media (max-width: 600px) {
    
    .arstider, .tomater {
        grid-template-columns: 1fr;
        padding: 1rem;
    }

    .container {
        margin: 10px auto;
        padding: 0.8rem;
    }
}